<template>
 <div id="container-principal">
    <aside>
      <div class="container-aside">
        <!-- container buscador -->
        <div class="container-buscador">
          <h3>Buscar</h3>
          <div class="container-input-buscador">
            <div>
              <div class="input-div">
                <input type="search" placeholder="Buscar..." />
                <button type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- categorias -->
        <div class="categorias">
          <h3>Categorias</h3>
          <div>
            <input name="categoria"  @change="getPeces" id="peces" type="radio" />
            <label for="peces">Peces</label>
          </div>
          <div>
            <input name="categoria" @change="getPeces" id="categoria2" type="radio" />
            <label for="categoria2">Aves</label>
          </div>
          <div>
            <input name="categoria" @change="getPeces" id="categoria3" type="radio" />
            <label for="categoria3">Felinos</label>
          </div>
          <div>
            <input name="categoria" @change="getPeces" id="categoria4" type="radio" />
            <label for="categoria4">Categoria 4</label>
          </div>
        </div>
        <!-- informacion -->
        <div class="informacion">
          <h3>Search</h3>
          <p>
            Escoge por categorias el animal que deseas encontrar, elige lugares
             u otras caracteristicas para poderlos encontrar.
          </p>
        </div>
      </div>
    </aside>
    <!-- contenido principal -->
    <main>
      <header>
        <nav class="container-header">
          <a href="#" >Inicio</a>
          <a href="#" >Animales</a>
          <a href="#" >Blog</a>
        </nav>
        <div class="logo">
          <h1>Encuentra el animal</h1>
        </div>
      </header>
      <div v-if="resultados" class="contenedor-principal">
        <!-- CARDS -->
        <div v-for="(el,i) in resultados" :key="i" class="card">
          <div class="container-img-card">
            <img :src="el.url" alt="img-card" />
          </div>
          <div class="descripcion-card">
            <strong>Nombre: </strong>
            <p>{{el.nombre}}</p>
            <strong>Agua: </strong>
            <p>{{el.agua}}</p>
            <strong>Promedio de vida: </strong>
            <p>{{el.promedio_vida}} años</p>
            <strong>Tamaño: </strong>
            <p>{{el.tamaño}} metros</p>
          </div>
        </div>
      </div>
      <h2 v-else>Escoge la categoria que deseas buscar</h2>
    </main>
 </div>
</template>

<script>


export default {
  name: 'HelloWorld',
  data() {
    return {
      msg: 'Welcome to Your Vue.js App',
      resultados: null,
    };
  },
  methods: {
    /* eslint-disable */
    getPeces(e) {
      console.log(e);
      let url=null
      switch (e.target.id) {
        case "peces":
          url = 'https://mision-tic-p69-c3-be-g6.herokuapp.com/pez/pez/';
          
          break;
      
        default:
          break;
      }
      if (!url) {
        alert("aun no hay datos de esta categoria.")
        return
      }
      fetch(url).then(res=>
        res.json()
      ).then(respuesta=>{this.resultados=respuesta
      })
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
*,
::after,
::before {
  box-sizing: border-box;
}
#container-principal {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 25% 75%;
  margin: 0;
}
h1 {
  text-align: center;
  color: white;
  margin: 0.5rem 0;
}
h2,
h3 {
  text-align: center;
  color: #0747a6;
}
/* estilos aside */
aside {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: scroll;

  background-color: #f4f5f7;
  color: rgb(66, 82, 110);
}
aside .container-aside {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}
.container-aside > div {
  padding: 1rem;
  border-radius: 5px;
  background-color: #ebecf0;
}
.container-aside > div h3 {
  margin-top: 0;
}
.container-buscador {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.container-input-buscador {
  width: 100%;

}
.container-input-buscador > div {
  border: 1px solid transparent;
  
}
.container-input-buscador > div:hover {
  border: 1px solid #0747a6;
  transition: all .4s ease-in-out;
}
.container-input-buscador input {
  outline: none;
  border: none;
  padding: 0.5rem;
  width: 100%;
}
.input-div {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.input-div button {
  border: none;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}
.input-div button:hover {
  background-color: #e3e3e3;
  transition: all 0.3s ease;
  color: #0747a6;
}
.categorias {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.categorias div {
  width: 100%;
}

/* ESTILOS MAIN , CONTENIDO PRINCIPAL */
main {
  width: 100%;
}
header {
  padding: 1rem 0;
  width: 100%;
  background-color: #0747a6;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1rem;
  border-right: 1px solid white;
}
nav a:hover {
  background-color: #05367f;
  transition: background-color 0.4s ease;
}
nav a:last-of-type {
  border: none;
}
.contenedor-principal {
  width: 100%;
  padding: 1.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 10px;
}
.card {
  background-color: #ebecf0;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.card p{
  margin: 0;
}
.card strong {
  color: #0747a6;
}
.container-img-card{
  min-width: 100%;
  /* padding:1rem; */
}
.container-img-card img {
  object-fit: fill;
  width: 100%;
  /* min-height: 100% !important; */
  /* widows: ; */
}
.descripcion-card{
  width: 100%;
}
</style>
